<html>
	<head>
		<meta charset="UTF-8"/>
		<title>CrossManager: {{head_title}}</title>
		<style type="text/css">
			body{
				font-family: Helvetica;
				background-color:#f2f2f2;
			}

			.page{
				display: block;
				width:820px;
				min-height: 350px;
				background-color: #fff;
				margin: 120px auto;
				border: 1px solid #ddd;
			}

			h1, h2{
				margin: 0px;
				padding: 10px 0px
			}

			header h1 {
			    background-color: #bcdbe7;
			    font-weight: 100;
			    padding: 20px;
			}

			h1 .version{
				font-size: 14px;
				font-weight: bold
			}

			h2.title {
			    background-color: aliceblue;
			    border-bottom: 1px solid #ddd;
			    padding: 10px 20px;
			    font-size: 18px;
			}

			content {
			    padding: 20px;
			    display: block;
			}

			ul {
			    margin: 5px 0px 20px 0px;
			}

			label{
				font-weight: bold;
				color: #5d8aa2
			}

			th {
			    background-color: #d8e9ec;
			    padding: 5px 10px;
			}
			table {
			    border-collapse: collapse;
			    margin: 8px 0;
			}

			tr, td {
			    padding: 6px;
			}

			td ul {
			    margin: 0;
			    padding: 10px;
			    margin-left: 10px;
			}

			td li{
				white-space: nowrap;
			}

			td li .small{
				text-overflow: ellipsis;
				overflow: hidden;
				width: 75px;
				display: inline-block;
				position: relative;
				top: 3px;
			}

			font.small {
			    font-size: 12px;
			}
		</style>
	</head>
	<body>
		<div class="page">
			<header>
				<h1>CrossManager	<font class="version">v.0.1</font></h1>
				<h2 class="title">{{title}}</h2>
			</header>
			<content>
				{{content}}
			</content>
		</div>
	</body>
</html>